<h1>Editing Create Carts Product</h1>

<%= render 'form', create_carts_product: @create_carts_product %>

<%= link_to 'Show', @create_carts_product %> |
<%= link_to 'Back', create_carts_products_path %>
