<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @create_carts_product.quantity %>
</p>

<%= link_to 'Edit', edit_create_carts_product_path(@create_carts_product) %> |
<%= link_to 'Back', create_carts_products_path %>
